* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: Arial, sans-serif;
            background: #fff;
            color: #333;
            height: 100vh;
            width: 100vw;
        }
        
        header {
            background-color: #1A1A1A;
        }
        
        nav ul {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 1rem;
        }
        
        nav ul li {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
            transition: 0.3s;
            margin: 0 15px;
        }
        
        nav ul li a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
            transition: 0.3s;
        }
        
        nav ul li a:hover {
            color: #0000ff;
        }
        
        main {
            display: flex;
            justify-content: space-between;
            padding: 1rem 3%;
            align-items: flex-start;
            gap: 2rem;
        }
        
        .left-content {
            width: 50%;
        }
        
        .Inicio {
            padding-top: 2rem;
        }
        
        .Inicio h1 {
            font-size: 2.2rem;
            margin-bottom: 10px;
        }
        
        .Inicio h2 {
            color: #0000ff;
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
        
        .Inicio p {
            margin-bottom: 20px;
            line-height: 1.5;
            text-align: justify;
        }
        
        .btn {
            display: inline-block;
            background: #111;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 3px;
            transition: 0.3s;
        }
        
        .btn:hover {
            background: #0000ff;
            color: #fff;
        }
        
        .Formacion {
            margin-top: 2rem;
        }
        
        .Formacion h1 {
            font-size: 1.8rem;
            margin-bottom: 10px;
        }
        
        .Formacion p {
            line-height: 1.5;
        }
        
        .experiencia {
            width: 25%;
            padding-top: 2rem;
        }
        
        .experiencia h1 {
            font-size: 1.8rem;
            margin-bottom: 10px;
        }
        
        aside {
            width: 25%;
            text-align: center;
        }
        
        .foto img {
            width: 220px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        
        .habilidades {
            text-align: left;
            margin-top: 20px;
        }
        
        .habilidades h3 {
            margin-bottom: 15px;
        }
        
        .bar {
            background: #ddd;
            height: 8px;
            border-radius: 5px;
            margin-bottom: 15px;
            overflow: hidden;
        }
        
        .bar span {
            display: block;
            height: 100%;
            background: #0000ff;
        }
        
        .Contacto {
            margin-top: 20px;
        }
        
        footer {
            height: 20%;
            width: 100%;
            background: #111;
            color: #fff;
            display: flex;
            justify-content: space-around;
            padding: 2px;
            margin-top: 2px;
            text-align: center;
        }
        
        .footer-box {
            width: 30%;
        }